<header class="header">
  <nav>
    <div class="body__container">
      <div class="nav__container">
        <ul class="list nav__list">
          <li class="list__item"><a href="/" class="nav__link link">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>