<div class="messages">
  <h1 class="main__heading">Messages</h1>
  <ul>
    <% for (const {text, user, added, id} of messages) { %>
    <li>
      <h2>User: <%= user %></h2>
      <p><em>Date:</em> <%= added %></p>
      <p><%= text %></p>
      <a href="/<%- id %>">Open</a>
    </li>
    <% } %>
  </ul>
</div>