.root__body {
  margin: 0;
}

.body {
  min-height: 100dvh;
  overflow-y: scroll;
}

.body__container {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  max-width: 100ch;
}

.nav__list {
  margin: 0;
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  opacity: 0.6;
}

.link:visited {
  color: purple;
}

.main__heading {
  margin: 0;
}

.messages__top {
  display: flex;
  gap: 1em;
  align-items: baseline;
  justify-content: space-between;
}

.error {
  text-align: center;
}

.error__text {
  font-size: 1.5rem;
}

.textarea {
  resize: vertical;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  max-width: 50ch;
}

.form__heading {
  margin: 0;
  text-align: center;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__submit {
  align-self: center;
}
