.root__body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  overflow-y: scroll;
}

.body__container {
  width: 80%;
  max-width: 1500px;
}

.main,
.header {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.header {
  justify-content: start;
}

.main__heading {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.textarea {
  resize: vertical;
}
